<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GatorFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96E048621BC0A6CA0017DDC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E048761BC0A6CB0017DDC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E048811BC0A6CB0017DDC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
